@import url('./theme.css');
@keyframes clearSequence {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.6);
    }
}

.clearing {
    animation: clearSequence 0.5s ease forwards;
}

/*.colouring {*/
/*    background-color: red;*/
/*    animation: 0.5s ease backwards;*/
/*}*/

body {
    font-family: 'Courier New', 'Courier', monospace;
    margin: 0;
    background-color: var(--very-dark-gray);
    color: var(--very-light-gray);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media only screen and (min-width: 1512px) {
    body {
        padding: 256px 0;
    }
}

@media only screen and (min-width: 2100px) {
    body {
        padding: 16px 0;
    }
}

table {
    border-collapse: collapse;
    margin: 1rem;
    background-color: var(--very-dark-gray);
    border-radius: 10px;
    overflow: scroll; /* Enable scrolling if the table exceeds max dimensions */
    /*box-shadow: 10px 10px 5px var(--white-but-not-too-white);*/
    filter: drop-shadow(48px 32px 10px var(--white-but-not-too-white));
    max-width: 95vw;
    max-height: 70vh;
}

th,
td {
    width: 40px;
    height: 20px;
    padding: 1px;
    text-align: center;
    font-weight: 800;
    border: 1px solid var(--very-dark-gray-light);
    font-size: 0.8rem; /* Adjust font size for small cells */
    color: white;
    transition: background-color 0.3s ease;
}

th {
    border: none;
    background-color: var(--very-dark-gray);
    color: white;
    font-weight: lighter;
}

/*td {*/
/*    background-color: var(--white-but-not-too-white);*/
/*    transition: background-color 0.3s ease;*/
/*}*/

td:hover {
    background-color: var(--very-light-gray-dark);
    cursor: pointer;
}

.first {
    /*background-color: var(--muted-sage-green-darker);*/
    /*color: var(--white-but-not-too-white);*/
    /*font-weight: bold;*/
    border: none;
    background-color: var(--very-dark-gray);
    font-weight: lighter;
}

.invisible {
    border: none;
}

/*td.selected {*/
/*    background-color: var(--muted-sage-green);*/
/*    color: var(--white-but-not-too-white);*/
/*    font-weight: bold;*/
/*    box-shadow: inset 0 0 5px var(--very-dark-gray-lighter);*/
/*}*/

/* Styling for container and table wrapper */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--very-light-gray-dark);
    border-radius: 20px;
    /*box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);*/

}

table th,
table td {
    font-family: 'Courier New', 'Courier', monospace;
}

/* Additional styles for buttons and form elements in the game */
/* todo NOG NIET GEIMPLEMENTEERD */
button {
    font-family: 'Courier New', 'Courier', monospace;
    background-color: var(--teal-blue);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: medium;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--teal-blue);
}

button:disabled {
    background-color: var(--light-blue-gray);
    cursor: not-allowed;
}
