@import url('./theme.css');

body {
    font-family: 'Courier New', 'Courier', monospace;
    margin: 0;
    background-color: var(--very-dark-gray);
    color: var(--very-light-gray);
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 2100px) {
    .container{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

