@import url('./theme.css');

body {
    font-family: 'Courier New', 'Courier', monospace;
    margin: 0;
    background-color: var(--very-dark-gray);
    color: var(--very-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media only screen and (min-width: 1512px) {
    body {
        padding: 256px 0;
    }
}

@media only screen and (min-width: 2100px) {
    body {
        padding: 16px 0;
    }
}
